<p style="color: green"><%= notice %></p>

<h1>Pokemons</h1>

<div class="row" id="pokemons">
  <% @pokemons.each do |pokemon| %>
    <div class="card">
      <%= image_tag("#{pokemon.sprite}",:class => "card-img-top",size: "50x200") %>
      <div class="card-body">
        <h5 class="card-title"><%=pokemon.name %></h5>
        <div class="d-flex justify-content-center">

          <div class="d-flex justify-content-center">index : <%= pokemon.pokemon_id %></div>
          <div class="d-flex justify-content-center">weight : <%= pokemon.weight %></div>
          <div class="d-flex justify-content-center">height : <%= pokemon.height %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New pokemons", new_pokemon_path %>
